numpy
pandas
jieba
numpy
tqdm
scikit-learn
tensorflow-gpu==2.5.2
keras==2.2.5
opencc-python-reimplemented
keras-bert==0.81.0
keras-multi-head==0.24.0
keras-self-attention==0.41.0
keras-transformer==0.33.0
